#ske-lower-area {
 display: flex;
 height: 90%;
 width: 100%;
}
#ske-sketchpad {
 width: 60%;
 background: white;
 pointer-events: none;
}
#ske-outer-bound {
 cursor: -webkit-grab;
 position: absolute;
 /* border: 1px solid blue; */
 height: 200%;
 width: 200%;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: white;
 
}