#ske-attributes {
 background: #d9d9d9;
 width: 20%;
 height: 100vh;
 display: flex; 
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 text-align: center;
 border: 1px solid #a5a5a5;
}

.att-flex-row {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.att-flex-row input {
    width: 50px;
    margin: 0px 0px 0px 15px;
}

.att-flex-row label {
    font-weight: 100;
    font-size: 15px;
    margin-left: 10px;
}


.att-section-1 {
    border: 1px solid #a5a5a5;
    border-bottom: none;
    width: 100%;
    height: auto;
    padding: 0px 0px 20px 0px;
}

.att-flex-row-closed {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    border: 1px solid #a5a5a5;
    background: #e2e0e0;
}

.att-flex-row-closed p {
    margin-left: 10px;
}

.att-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
}
