#att-zindex-text {
 visibility: hidden;
 position: absolute;
 top: 30px;
 left: 20px;
 display: flex;
 flex-direction: column;
 background: white;
 width: 70%;
}
#att-zindex-text li {
 padding: 10px;
 cursor: pointer;
 color: black;
}
#att-zindex-text li:hover {
 background-color: grey;
}