html > * {
 height: 100vh;
 width: 100vw;
}
body {
 height: 100%;
 width: 100%;
}
.App {
 width: 100vw;
 height: 500vh;
}
.resize-btn {
 height: 10px;
 width: 10px;
 border: 1px solid black;
 background:white;
}

#top-right {
 position: absolute;
 top: -5px;
 right: -5px;
}

#top-middle {
 position: absolute;
 top: -5px;
 left: 48%;
 cursor: ns-resize
}

#top-left {
 cursor: pointer;
 position: absolute;
 top: -5px;
 left: -5px;
}

#right-middle {
 position: absolute;
 bottom: 48%;
 right: -5px;
 cursor: ew-resize;
}

#left-middle {
 position: absolute;
 bottom: 48%;
 left: -5px;
 cursor: ew-resize;
}
#bottom-right {
 position: absolute;
 bottom: -5px;
 right: -5px;
}

#bottom-left {
 position: absolute;
 bottom: -5px;
 left: -5px;
}

#bottom-middle {
 position: absolute;
 bottom: -5px;
 right: 48%;
 cursor: ns-resize;
}
.zoomMe {
 height: 500px;
 width: 500px;
 background: green;
}
.zoomMeAlso {
 height: 550px;
 width: 550px;
 background: red;
}