#too-toolbar {
 background:#cacaca;
 position: relative;
 width: 100%;
 height: 7vh;
}
#too-logout {
 position: absolute;
 right: 100px;
 top: 20px;
 cursor: pointer;
}
#too-insert {
 background: white;
 position: absolute;
 top: 10px;
 left: 50px;
 font-size: 20px;
 padding: 5px;
 border-radius: 2px;
 border: 1px solid black;
 cursor: pointer;
}
#too-insert:hover {
 background: #e2e2e2;
}
#too-drop-menu {
 display: flex;
 flex-direction: column;
}
#too-dropdown {
 display: none;
 position: absolute;
 top: 50px;
 left: 50px;
 background: white;
 padding: 2px;
 width: 100px;
 cursor: pointer;
}
#too-dropdown li {
 padding: 25%;
 color: black;
 width: 190%;
}
#too-dropdown li:hover {
 background-color: grey;
}